snippet inc "Includes"
#include <iostream>
#include <unordered_map>
#include <vector>
#include <string>
using namespace std;

typedef long long ll;
typedef long double ld;
typedef vector<int> pi;
typedef pair<int,int> pii;

endsnippet

snippet main "main"
int main(){

	return 0;
}
endsnippet


